
    <div class="container mt-5">
        <!-- <div class="col-md-12">
            <button class="btn btn-primary mr-2" routerLink="/add">Add</button>
            <button class="btn btn-primary" routerLink="/list">List</button>
        </div> -->
        <nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add">Github Repo List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/list">Favorite List</a>
      </li>
     
    </ul>
    
  </div>
</nav>
        <router-outlet></router-outlet>
    </div>
